.header {
	display: flex;
	justify-content: space-between;
	/* position: fixed; */
	background-color: #fff;
	align-items: center;
	width: 100%;
	height: 110px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.centerText {
	text-align: center;
	font-style: italic;
	font-size: 16px;
	line-height: 24px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 500;
}
