.footer {
	display: flex;
	justify-content: space-between;
	/* position: fixed; */
	background-color: #fff;
	align-items: center;
	width: 100%;
	height: 110px;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.footerText div {
	font-size: 18px;
	font-weight: 500;
	margin-left: 30px;
}

.weatherBlock {
	margin-right: 30px;
	font-size: 18px;
	font-weight: 500;
}
